In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import statsmodels.formula.api as smf
data = pd.read_csv("Wage.csv")
data.drop(['age','sex', 'region', 'year','logwage','maritl','race','education','jobclass','health'], axis='columns', inplace=True)
data.head()

  health_ins     wage
0          N   75.043
1          N   70.476
2          Y  130.982
3          Y  154.685
4          Y   75.043

In [12]:
rep = data.replace('N',0)
log = rep.replace('Y',1)

In [13]:
log.wage = np.log(log.wage)

## Before Log Wage

In [14]:
model = smf.logit("health_ins ~ wage", data=log)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.540041
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             health_ins   No. Observations:                 3000
Model:                          Logit   Df Residuals:                     2998
Method:                           MLE   Df Model:                            1
Date:                Mon, 16 May 2022   Pseudo R-squ.:                  0.1227
Time:                        23:44:54   Log-Likelihood:                -1620.1
converged:                       True   LL-Null:                       -1846.8
Covariance Type:            nonrobust   LLR p-value:                1.386e-100
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -12.1661      0.701    -17.347      0.000     -13.541     -10.791
wage           2.8217      0.153     18.413      0.000       2.521       3.122
==============================================================================
"""

In [15]:
coefs = pd.DataFrame({
    'coef': results.params.values,
    'odds ratio': np.exp(results.params.values),
    'name': results.params.index
})
coefs

        coef  odds ratio       name
0 -12.166085    0.000005  Intercept
1   2.821674   16.804960       wage

## After Log Wage

In [16]:
model = smf.logit("health_ins ~ wage", data=log)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.540041
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             health_ins   No. Observations:                 3000
Model:                          Logit   Df Residuals:                     2998
Method:                           MLE   Df Model:                            1
Date:                Mon, 16 May 2022   Pseudo R-squ.:                  0.1227
Time:                        23:44:58   Log-Likelihood:                -1620.1
converged:                       True   LL-Null:                       -1846.8
Covariance Type:            nonrobust   LLR p-value:                1.386e-100
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -12.1661      0.701    -17.347      0.000     -13.541     -10.791
wage           2.8217      0.153     18.413      0.000       2.521       3.122
==============================================================================
"""

In [17]:
coefs = pd.DataFrame({
    'coef': results.params.values,
    'odds ratio': np.exp(results.params.values),
    'name': results.params.index
})
coefs

        coef  odds ratio       name
0 -12.166085    0.000005  Intercept
1   2.821674   16.804960       wage

In [18]:
print(log)

      health_ins      wage
0              0  4.318061
1              0  4.255272
2              1  4.875060
3              1  5.041391
4              1  4.318061
...          ...       ...
2995           1  5.041391
2996           0  4.602055
2997           0  4.193118
2998           1  4.477121
2999           1  4.505151

[3000 rows x 2 columns]

# Outcomes of Equations

In [19]:
No = 0
Yes = 0
fp = 0
fn = 0
for a,b in log.itertuples(index=False):
    eq = ((math.e**(-12.166085+2.821674*b))/(1+(math.e**(-12.166085+2.821674*b))))    
    if eq < .5 and a == 0:
        No = No + 1
    if eq > .5 and a == 1:
        Yes = Yes + 1
    if eq < .5 and a == 1:
        fn = fn + 1
    if eq > .5 and a == 0:
        fp = fp + 1
print("No", No)
print("Yes", Yes)
print("False Positive", fp)
print("False Negative", fn)

No 293
Yes 1947
False Positive 624
False Negative 136