In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import statsmodels.formula.api as smf
data = pd.read_csv("Wage.csv")
data.drop(['age','sex', 'region', 'year','logwage'], axis='columns', inplace=True)
data.head()

,maritl,race,education,jobclass,health,health_ins,wage
0,Never Married,White,< HS Grad,Industrial,Good,N,75.043
1,Never Married,White,College Grad,Information,Very Good,N,70.476
2,Married,White,Some College,Industrial,Good,Y,130.982
3,Married,Asian,College Grad,Information,Very Good,Y,154.685
4,Divorced,White,HS Grad,Information,Good,Y,75.043

In [3]:
rep = data.replace('N',0)
log = rep.replace('Y',1)

In [4]:
log.wage = np.log(log.wage)

## Before Log Wage

In [8]:
model = smf.logit("health_ins ~ wage", data=log)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.552618
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             health_ins   No. Observations:                 3000
Model:                          Logit   Df Residuals:                     2998
Method:                           MLE   Df Model:                            1
Date:                Wed, 03 Nov 2021   Pseudo R-squ.:                  0.1023
Time:                        09:16:45   Log-Likelihood:                -1657.9
converged:                       True   LL-Null:                       -1846.8
Covariance Type:            nonrobust   LLR p-value:                 3.698e-84
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.8389      0.158    -11.606      0.000      -2.149      -1.528
wage           0.0256      0.002     16.519      0.000       0.023       0.029
==============================================================================
"""

In [9]:
coefs = pd.DataFrame({
    'coef': results.params.values,
    'odds ratio': np.exp(results.params.values),
    'name': results.params.index
})
coefs

       coef  odds ratio       name
0 -1.838932    0.158987  Intercept
1  0.025554    1.025883       wage

## After Log Wage

In [15]:
model = smf.logit("health_ins ~ wage", data=log)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.540041
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             health_ins   No. Observations:                 3000
Model:                          Logit   Df Residuals:                     2998
Method:                           MLE   Df Model:                            1
Date:                Wed, 03 Nov 2021   Pseudo R-squ.:                  0.1227
Time:                        09:49:48   Log-Likelihood:                -1620.1
converged:                       True   LL-Null:                       -1846.8
Covariance Type:            nonrobust   LLR p-value:                1.386e-100
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -12.1661      0.701    -17.347      0.000     -13.541     -10.791
wage           2.8217      0.153     18.413      0.000       2.521       3.122
==============================================================================
"""

In [16]:
coefs = pd.DataFrame({
    'coef': results.params.values,
    'odds ratio': np.exp(results.params.values),
    'name': results.params.index
})
coefs

        coef  odds ratio       name
0 -12.166085    0.000005  Intercept
1   2.821674   16.804960       wage